@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Playfair+Display:ital,wght@0,400;1,700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #7d56b3;
  --color-accent-teal: #2dd4bf;
  --color-accent-yellow: #fbbf24;
  --color-background-light: #f7f6f7;
  --color-background-dark: #18151d;

  --font-display: "Inter", sans-serif;
  --font-serif: "Playfair Display", serif;
}

@layer utilities {
  .chunky-text {
    font-weight: 900;
    letter-spacing: -0.05em;
    line-height: 0.8;
  }
  .blur-blob {
    filter: blur(80px);
    z-index: -1;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .theme-filter {
    filter: hue-rotate(220deg) saturate(1.2);
  }
  .theme-filter:hover {
    filter: hue-rotate(0deg) saturate(1);
  }
}
